body{
    
    font-size:medium;
}
/* parche al slider*/



@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?44egtu');
	src:url('fonts/icomoon.eot?#iefix44egtu') format('embedded-opentype'),
		url('fonts/icomoon.ttf?44egtu') format('truetype'),
		url('fonts/icomoon.woff?44egtu') format('woff'),
		url('fonts/icomoon.svg?44egtu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e900";
}
.icon-file-text:before {
	content: "\e922";
}
.icon-undo2:before {
	content: "\e967";
}
.icon-aid-kit:before {
	content: "\e998";
}
.icon-menu:before {
	content: "\e9bd";
}
.icon-warning:before {
	content: "\ea07";
}
.icon-info:before {
	content: "\ea0c";
}
.icon-lab:before {
	content: "\e600";
}
